$tablet-width: 750px;
$until-desktop-width: 969px;
$desktop-width: 1100px;
$retina-2dpi: 144dpi;
$retina-2dppx: 1.5dppx;
$retina-3dpi: 288dpi;
$retina-3dppx: 3dppx;

$gray: #2c2c2c;
$red: #a70407;
$dark-gray: #252525;
$light-gray: #e2e6ea;
