.brands {
  border: 2px solid #e2e6ea;
  margin-bottom: 25px;
  border-radius: 3px;
  display: flex;
  padding: 23px 12px 15px 17px;
}

.brands__title {
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray;
  text-align: left;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;

  & a {
    color: inherit;
    border-bottom: 1px solid $dark-gray;
  }
}

.brands__hidden {
  font-size: 14px;
  line-height: 20px;
  color: $red;
  text-decoration: underline;
}

.brands__wrapper {
  margin-left: auto;
  position: relative;
  overflow: hidden;
  width: 70%;
}

.brands__slides {
  @include list-reset;
  display: flex;
  box-sizing: border-box;
}

.brands__link {
  min-width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & img {
    display: block;
    height: auto;
    width: auto;
    margin: auto;
    touch-action: none;
  }
}

@media (min-width: $desktop-width) {
  .brands {
    margin-bottom: 15px;
  }

  .brands__wrapper {
    width: 84%;
  }
}
