.catalog-table {
  border-collapse: collapse;

  & td,
  & th {
    border-left: 2px solid #ffffff;
  }

  & th:first-child,
  & td:first-child {
    border-left: none;
  }
}

.catalog-table__title {
  & th {
    background-color: $red;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    min-height: 40px;
    padding: 0;
    padding: 0 7px;
    padding-top: 10px;
    max-width: 115px;
    box-sizing: border-box;
  }
}

.catalog-table__item {
  max-width: 115px;
  padding: 0;
  padding: 0 7px;
  box-sizing: border-box;
  padding-top: 10px;
  vertical-align: top;
  text-align: left;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 14px;
  color: $dark-gray;

  &--img {
    padding: 0;
    padding-top: 10px;
  }

  &--img picture {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border: solid 1px #e2e6ea;
    background-color: #ffffff;
  }

  &--price {
    color: $red;
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
  }
}

.catalog-table__link {
  color: $red;
  text-decoration: underline;
}
