.discount {
  margin-bottom: 35px;
}

.discount__container {
  @include container;
}

.discount__wrapper {
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 2px $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discount__title {
  font-size: 20px;
  line-height: 38px;
  color: $dark-gray;
  text-align: center;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

.discount__slides {
  @include list-reset;
}

.discount__slide {
  position: relative;
  display: none;
  min-height: 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;

  &--active {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.discount__btn {
  position: absolute;
  top: 35%;
  width: 16px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #cccccc;
    width: 5px;
    height: 22px;
  }

  &:hover::before,
  &:focus::before,
  &:active::before,
  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $red;
  }

  &::before {
    top: 50%;
  }

  &::after {
    top: calc(50% - 22px);
  }

  &--next {
    right: 15px;
  }

  &--prev {
    left: 15px;
  }

  &--next::before {
    transform: skewX(-18deg);
    right: 0;
  }

  &--next::after {
    transform: skewX(18deg);
    right: 0;
  }

  &--prev::before {
    transform: skewX(-342deg);
    left: 0;
  }

  &--prev::after {
    transform: skewX(342deg);
    left: 0;
  }
}

.discount__item-title {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $red;
  margin: 0;
  min-height: 48px;
}

.discount__link {
  color: inherit;
}

.discount__descr {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  min-height: 48px;
  font-weight: 400;
  color: $dark-gray;
}

.discount__quantity-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.discount__quantity {
  font-size: 32px;
  line-height: 24px;
  color: $red;
  font-weight: 700;
}

.discount__item-btn {
  margin: 0;
}

.discount__more-info {
  font-size: 14px;
  line-height: 24px;
  color: $red;
  text-decoration: underline;
  margin-top: 10px;
  display: block;
}

@media (min-width: $desktop-width) {
  .discount__slide {
    &--active {
      display: flex;
      flex-direction: row;
    }
  }

  .discount__title {
    text-align: left;
    margin-left: 285px;
    margin-right: 30px;
    width: auto;
    padding-top: 10px;
    border-bottom: 1px solid #e2e6ea;
  }

  .discount__link img {
    margin-left: 5px;
    margin-top: -10px;
    margin-right: 20px;
    display: block;
    height: auto;
  }

  .discount__text {
    padding-top: 15px;
    text-align: left;
  }

  .discount__item-title {
    min-height: 0;
  }

  .discount__quantity-wrapper {
    justify-content: flex-start;
    margin: 0;
  }

  .discount__quantity {
    margin-right: 105px;
  }

  .discount__item-btn {
    margin-top: 5px;
  }
}
