.phone-list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(1, 1, 1, 0.5);
  display: none;
  background-image: linear-gradient(to bottom, #ffffff, #bebcbc);

  &--active {
    display: block;
  }
}

.phone-list__item {
  border-bottom: 2px solid $red;
  color: $red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

.phone-list__phone {
  color: inherit;
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.phone-list__note {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: $desktop-width) {
  .phone-list {
    display: flex;
    box-sizing: border-box;
    padding-left: 35px;
    margin-top: 10px;
    position: static;
    background-color: transparent;
    box-shadow: none;
    background-image: url("../img/icon-phone.svg");
    background-position: 0 8px;
    background-repeat: no-repeat;
    width: 60%;
  }

  .phone-list__item {
    border-bottom: none;
    color: #ffffff;
    display: block;
    padding: 0;
    margin-right: 7%;

    &:last-child {
      margin-right: 0;
    }
  }
}
