.phone-list {
}

.phone-list__item {
  color: #ffffff;
}

.phone-list__phone {
  color: inherit;
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.phone-list__note {
  font-size: 14px;
  font-weight: 400;
}
