.filters {
  padding-top: 50px;
  padding-bottom: 50px;
}

.filters__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $dark-gray;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 5px;
}

.filters__group {
  padding: 0 5px;
  padding-bottom: 30px;
  padding-top: 20px;
  border-bottom: 1px solid #e2e6ea;

  &--row {
    padding-bottom: 25px;
  }

  &--row .filters__label {
    margin-bottom: 0;
  }

  &--brands .filters__label{
    width: 130px;
  }

  &--brands .filters__inputs {
    display: flex;
    flex-wrap: wrap;
  }

   &--brands .filters__input-wrapper {
    width: 50%;
  }

  &--other {
    padding-bottom: 40px;
  }

  &--gifts {
    padding-top: 55px;
  }

  &--type {
    padding-top: 35px;
  }

  &--number {
    border-bottom: none;
    padding-top: 0;
  }

  &--number .filters__input-wrapper {
    border-bottom: 1px solid #e2e6ea;
    padding-bottom: 30px;
  }

  &--number .filters__label {
    margin-bottom: 8px;
  }

  &--number .filters__group-title {
    padding-top: 20px;
  }

  &--range {
    padding-top: 5px;
    align-items: baseline;
    border-bottom: none;
    padding-bottom: 20px;
  }

  &--range .filters__group-title {
    width: auto;
    margin-right: 40px;
  }
}

.filters__group-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #4a4a4a;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  display: block;
}

.filters__label {
  padding-left: 28px;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5px;
  width: auto;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border: 1px solid #e2e6ea;
    border-radius: 3px;
    background-color: transparent;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    border: 1px solid $red;
  }
}

.filters__input:checked + .filters__label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 9px;
  height: 5px;
  background-color: transparent;
  border: 2px solid $red;
  border-left: none;
  border-bottom: none;
  transform: rotate(135deg);
}

.filters__length-label {
  font-size: 14px;
  line-height: 22px;
  color: $dark-gray;
  margin-right: 5px;
}

.filters__range-control {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters__range {
  width: 100%;
  display: flex;
}

.filters__range-input {
  margin-top: 12px;
}

.filters__length-field {
  width: 76px;
  height: 23px;
  border: 1px solid #e2e6ea;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  color: $dark-gray;
  font-family: inherit;
  box-sizing: border-box;
  margin-right: 10px;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $red;
  }
}

.filters__length-value {
  position: absolute;
  top: -20px;
  font-size: 11px;
  line-height: 22px;
  color: #8d8d8d;

  &--min {
    left: 0;
  }

  &--max {
    right: 0;
  }
}

.filters__btn {
  background-image: none;
  width: 120px;
  padding: 12px 21px;
}

@media (min-width: $desktop-width) {
  .filters__group {
    &--row {
      display: flex;
      flex-wrap: wrap;
    }

    &--new .filters__label {
      max-width: none;
      width: 24.3%;
      margin-right: 1.7%;

      &:last-of-type {
        width: 22%;
        margin-right: 0;
      }
    }

    &--brands .filters__label{
      width: 130px;
    }

    &--brands .filters__inputs {
      display: flex;
      flex-wrap: wrap;
    }

     &--brands .filters__input-wrapper {
      width: 24.3%;
      margin-right: 1.7%;

      &:last-of-type {
        width: 22%;
        margin-right: 0;
      }
    }
  }

  .filters__inputs {
    flex-wrap: nowrap;
  }

  .filters__label {
    max-width: 240px;

    &--brands {
      width: 130px;
    }
  }

  .filters__inputs {
    display: flex;
    flex-wrap: wrap;
  }

  .filters__input-wrapper {
    width: 24.3%;
    margin-right: 1.7%;

    &:last-of-type {
      width: 22%;
      margin-right: 0;
    }
  }

  .filters__range-controls {
    margin-bottom: 0;
  }

  .filters__range-input {
    margin-left: 55px;
  }
}
